# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.Python
build/
dist/
*.egg

# Virtual envs
.venv/
venv/
env/
.env
!.env.example

# Tooling
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Data / volumes
volumes/
*.log

# Alembic local
**/alembic/versions/*.pyc
